name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        tls: [WITH_TLS=on, WITH_TLS=off]
        no_epoll: [WITHOUT_EPOLL=off, WITHOUT_EPOLL=on,
          WITHOUT_EPOLL=on WITH_POLL=on]
        no_sigfd: [WITHOUT_SIGNALFD=off, WITHOUT_SIGNALFD=on]
        no_timfd: [WITHOUT_TIMERFD=off, WITHOUT_TIMERFD=on]
    runs-on: ubuntu-latest
    env:
      CI_CFLAGS: -O2 -std=c11 -Wall -Wextra -Wshadow -Werror -pedantic
    steps:
    - uses: actions/checkout@v3
    - name: submodules
      run: git submodule update --init
    - name: make
      run: >-
        make -j CFLAGS="${CI_CFLAGS}"
        ${{matrix.tls}}
        ${{matrix.no_epoll}}
        ${{matrix.no_sigfd}}
        ${{matrix.no_timfd}}
